@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}


@font-face {
    font-family: 'NeueKabel-Light';
    src: url('../fonts/NeueKabel-Light.otf');
}



@font-face {
    font-family: 'NeueKabel-Medium';
    src: url('../fonts/NeueKabel-Medium.otf');
}


@font-face {
    font-family: 'georgia';
    src: url('../fonts/georgia.ttf');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
}


@font-face {
    font-family: 'NeueKabel';
    src: url('../fonts/NeueKabel.otf');
}

